.footer{
    background:#282531;
    


    & .footer_wrapper{
        color: #FFFFFF;

         @media screen and (max-width:576px){         
            margin: 50px auto;      
    }

        & .footer-text{
            margin-top:70px ;

            @media screen and (max-width:576px){         
            margin-bottom: 20px ;      
                }
        }
        & p{
            margin: 0;
        }
    }
    & .copyright{
        font-size: 14px;
        color: #B1B1B2;
        margin-top:50px ;
       // margin-bottom:25px ;
    }
}